@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=League+Spartan:wght@100..900&display=swap');


*{
    font-family: "Briem Hand", cursive;
    box-sizing: border-box;
}

.projetos {
   margin:-10% 5% 5% 5%;
   width:100%;
}

.projetos__Vinicius {
    display:flex;
    flex-wrap: wrap;
}

.imagens {
    padding:200px 200px 0 0;
}

.projetos__Vinicius__texto {
    padding:0 0 30px 0 ;
    display:flex; 
    justify-content:center;
    color:#FFF;
    font-size:2em;
    text-decoration:none;
}

.projetos__images {
    width:700px;
    height:500px;
}

@media (max-width:1800px) {

    .projetos__Vinicius {
        display:flex;
        flex-wrap:wrap;
    }

    .imagens {
        padding:100px 100px 0 0;
    }
    
    .projetos__images {
        width:600px;
        height:400px;
    }
}

@media (max-width:1410px) {


    .imagens {
        padding:80px 80px 0 0;
    }

    .projetos__Vinicius__texto {
        font-size:1.5em;
    }

    .projetos__images {
        width:500px;
        height:400px;
    }

    .rodape {
        padding:20px;
    }

    .rodape__texto {
        font-size:1em;
    }

}

@media (max-width:1164px) {

    .cabecalho {
        padding:2% 0 9% 0;
    }

    .texto_links {
        font-size:1.5em;
       
    }

    .imagens {
        padding:50px 50px 0 0;
    }

    .projetos__Vinicius__texto {
        font-size:1.2em;
    }

    .projetos__images {
        width:400px; 
        height:300px;
    }

    .projetos__Vinicius__texto {
        font-size:1.4em;
    }

    .rodape {
        padding:15px;
    }

    .rodape__texto {
        font-size:0.8em;
    }
}

@media (max-width:900px) {

    .cabecalho {
        padding:2% 0 10% 0;
    }

    .texto_links {
        font-size:1.3em;
       
    }

    .imagens {
        padding:30px 30px 40px 0;
    }

    .projetos__Vinicius__texto {
        font-size:1.0em;
    }

    .projetos__images {
        width:300px; 
        height:200px;
    }

    .rodape {
        margin-top:220px;
        padding:10px;
    }

    .rodape__texto {
        font-size:0.7em;
    }
}

@media (max-width:640px) {
    .imagens {
        padding:10px 10px 50px 0;
    }

    .projetos__Vinicius__texto {
        font-size:0.8em;
    }

    .projetos__images {
        width:250px; 
        height:150px;
    }
}

@media (max-width:540px) {
    
    .projetos {
        display:flex;
        flex-direction:column;
    }
    
    .projetos__Vinicius__texto {
        font-size:1.2em;
        margin-top:40px;
    }

    .projetos__images {
        width:400px; 
        height:300px;
    }

    .imagens {
        padding:60px 30px 100px 0;
    }

    .rodape {
       margin-top:400px;
    }

    .rodape__texto {
        font-size:0.6em;
    }
}